---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact" id="contact">
  <Fragment slot="lead">
    Vous pouvez nous <span class="text-primary">contacter</span> pour un devis <span class="text-primary">gratuit</span>, complet et détaillé intégrant le matériel et la main d'oeuvre nécessaire vous proposant la meilleure solution selon votre besoin et budget vous sera transmis rapidement. 
  </Fragment>
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md w-full">
    <form action="mailto:lucasgarrido33@gmail.com" method="get" enctype="text/plain" class="space-y-8">
      
      <div>
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sujet</label>
          <input type="text" id="subject" name="subject" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" required>
      </div>
      <div class="sm:col-span-2">
          <label for="body" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Message</label>
          <textarea id="body" name="body" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"></textarea>
      </div>
      <button class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Envoyer</button>
    </form>
</div>
</ContentSection>

