---
// import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Aclim Confort" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    Spécialisée dans la conception, l’installation et la maintenance de tous systèmes de climatisation réversible.<br>
    <span class="text-primary">Aclim Confort</span> vous propose son expertise pour l’installation de votre système de climatisation dans la région bordelaise.<br>
  </Fragment>

</ContentSection>
