---
// import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Spécialiste de la pose de clim à Bordeaux" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    Vous pouvez nous contacter, un devis gratuit, complet et détaillé intégrant le matériel et la main d'oeuvre nécessaire vous proposant la meilleure solution selon votre besoin et budget vous sera transmis rapidement.
    Pour toute urgence de dépannage les délais sont relativement rapide (en moyenne sous 2h selon planning)
    Notre entreprise assure la maintenance de tous les appareils que nous avons installé ou pas et dispose d'une panoplie de service lié au domaine de la climatisation et du chauffage à votre service.
    <span class="text-primary">modern</span>
  </Fragment>

</ContentSection>
